body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

* {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

a {
    text-decoration: none;
    color: initial;
}

html, body {
    min-width: 320px;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: grid;
    align-items: center;
    height: 4rem;
    grid-template-columns: 1fr 3fr 1fr;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

header #logo {
    height: 2rem;
    width: auto;
    justify-self: center;
    grid-column: 2;
}

nav {
    display: none;
}

.phone .phoneIcon {
    height: 1em;
}

header .phone {
    justify-self: right;
    padding-right: 2rem;
}

header .phone>p {
    display: none;
}

main>div:first-child {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

main .container {
    display: grid;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.ofer {
    position: absolute;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 2rem;
}

.ofer h1 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.ofer p {
    font-size: 15px;
}

.detal {
    background-image: url(../img/83102FB7-A62D-45E2-9BAA-4277259FA1D8.jpg);
}

.hurt {
    background-image: url(../img/AdobeStock_254529536.jpeg);
}

.button {
    justify-self: center;
    align-self: center;
}

button {
    background-color: white;
    cursor: pointer;
    padding: 1rem;
    width: 15rem;
}

button:hover {
    background-color: black;
    color: white;
    opacity: 0.8;
}

button>p {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.6px;
    display: inline;
}

button>img {
    height: 1em;
    padding-right: 0.5rem;
}

#about {
    margin: 3rem;
    text-align: center;
}

#about h2 {
    padding-bottom: 2rem;
    font-size: 20px;
    font-weight: bold;
}

#about p {
    font-size: 15px;
}

footer {
    padding: 0 2rem;
    background-color: black;
}

footer>div {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

footer h3 {
    margin-top: 2rem;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

footer p {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    color: white;
    font-size: 12px;
}

#dane {
    grid-row: 4;
    padding-bottom: 2rem;
}

.social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.social a:first-child {
    justify-self: right;
}

#instagram {
    display: none;
}

#facebook {
    display: none;
}

#dane p {
    font-size: 8px;
    padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
    header {
        height: 5rem;
        grid-template-columns: max-content 1fr max-content;
        column-gap: 1rem;
    }
    header #logo {
        height: 2.5rem;
        padding-left: 2rem;
        grid-column: 1;
        justify-self: left;
    }
    nav {
        display: initial;
        justify-self: right;
    }
    nav li {
        display: inline;
        padding-right: 1em;
    }
    header .phone p {
        display: initial;
    }
    .phone .phoneIcon {
        height: 0.8em;
        padding-right: 0.5em;
    }
    main>div:first-child {
        grid-template-columns: 1fr 1fr;
    }
    .ofer {
        margin: -10rem 6rem 0 6rem;
    }
    .ofer h1 {
        font-size: 34px;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    .ofer p {
        font-size: 15px;
    }
    main a {
        margin-top: 20rem;
    }
    main .container {
        height: 100vh;
    }
    footer {
        padding: 2rem 2rem;
        background-color: black;
    }
    footer>div {
        grid-template-columns: repeat(2, 1fr) 3fr 2fr;
        column-gap: 3rem;
    }
    footer h3 {
        text-align: left;
        padding-bottom: 1rem;
        font-size: 15px;
    }
    footer p {
        text-align: initial;
        display: block;
        opacity: 0.8;
        padding-bottom: 1em;
    }
    .social {
        display: block;
    }
    .social img {
        margin-top: 0rem;
        opacity: 0.7;
        cursor: pointer;
    }
    .social img:hover {
        opacity: 1;
    }
    .social img:first-child {
        margin-right: 1rem;
    }
    footer a {
        color: inherit;
    }
    footer p:hover {
        opacity: 1;
    }
    #dane {
        margin-top: initial;
        grid-row: initial;
    }
    #dane p {
        font-size: 12px;
        padding-bottom: 1em;
    }
    #instagram {
        display: initial;
        position: fixed;
        top: 50vh;
        right: 2rem;
    }
    #facebook {
        display: initial;
        position: fixed;
        top: 57vh;
        right: 2rem;
    }
    br {
        display: block;
        margin: 0.1rem 0;
    }
    #about {
        margin: 5rem;
        text-align: center;
        padding-left: 15vw;
        padding-right: 15vw;
    }
    button>p {
        font-size: 16px;
    }
}