body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

* {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

a {
    text-decoration: none;
    color: initial;
}

html, body {
    min-width: 320px;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: grid;
    align-items: center;
    height: 4rem;
    grid-template-columns: 1fr 3fr 1fr;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

header #logo {
    height: 2rem;
    width: auto;
    justify-self: center;
    grid-column: 2;
}

nav {
    display: none;
}

.phone svg {
    height: 1rem;
}

header .phone {
    justify-self: right;
    padding-right: 2rem;
}

header .phone>p {
    display: none;
}

/*First Screen*/

#firstScreen {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

#firstScreen .container {
    display: grid;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#firstScreen .ofer {
    position: absolute;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(rgba(0, 0, 0, 0.01) , rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.01)) ;
    padding: 12vh 10vw;
    width: 100vw;
    border-radius: 10px;
}

#firstScreen .ofer h1 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

#firstScreen .ofer p {
    font-size: 15px;
}

#firstScreen .detal {
    background-image: url(../img/detal.jpg);
}

#firstScreen .hurt {
    background-image: url(../img/hurt.jpeg);
}

/* Main Buttons*/

.button {
    justify-self: center;
    align-self: center;
}

button {
    background-color: white;
    cursor: pointer;
    padding: 1rem;
    width: 15rem;
    border: none;
    opacity: 0.9;
    transition: 1s;
    border-radius: 5px;
}

button>p {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.6px;
    display: inline;
}

button>svg {
    height: 12px;
    padding-right: 0.5rem;
}

/*About Us section*/

#about {
    margin: 3rem;
    text-align: center;
}

#about h2 {
    padding-bottom: 2rem;
    font-size: 20px;
    font-weight: bold;
}

#about p {
    font-size: 15px;
}

/*Footer section*/

footer {
    padding: 0 2rem;
    background-color: black;
}

footer>div {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

footer h3 {
    margin-top: 2rem;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

footer p {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    color: white;
    font-size: 12px;
}

footer .social svg {
    fill: white;
    height: 1.5rem;
    cursor: pointer;
}

#dane {
    grid-row: 4;
    padding-bottom: 2rem;
}

.social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.social a:first-child {
    justify-self: right;
}

/*Social link*/

#instagram {
    display: none;
}

#facebook {
    display: none;
}

#dane p {
    font-size: 8px;
    padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
    header {
        height: 5rem;
        grid-template-columns: max-content 1fr max-content;
        column-gap: 1rem;
    }
    header #logo {
        height: 2.5rem;
        padding-left: 2rem;
        grid-column: 1;
        justify-self: left;
    }
    nav {
        display: initial;
        justify-self: right;
    }
    nav li {
        display: inline;
        padding-right: 1em;
    }
    header .phone p {
        display: initial;
    }
    .phone svg {
        height: 0.9em;
    }
    /*First Screen*/
    #firstScreen {
        grid-template-columns: repeat(2, 1fr);
    }
    #firstScreen .container {
        height: 100vh;
    }
    #firstScreen .ofer {
        margin: -10rem 6rem 0 6rem;
    }
    #firstScreen .ofer h1 {
        font-size: 34px;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    #firstScreen .ofer p {
        font-size: 15px;
    }
    /*Footer*/
    footer {
        padding: 2rem 2rem;
        background-color: black;
    }
    footer>div {
        grid-template-columns: repeat(2, 1fr) 3fr 2fr;
        column-gap: 3rem;
    }
    footer h3 {
        text-align: left;
        padding-bottom: 1rem;
        font-size: 15px;
    }
    footer p {
        text-align: initial;
        display: block;
        opacity: 0.8;
        padding-bottom: 1em;
    }
    footer p:hover {
        opacity: 1;
        transition: 1s;
    }
    footer .social {
        display: block;
    }
    footer .social a {
        display: initial;
    }
    footer .social svg {
        margin-right: 1rem;
    }
    #dane {
        margin-top: initial;
        grid-row: initial;
    }
    #dane p {
        font-size: 12px;
        padding-bottom: 1em;
    }
    br {
        display: block;
        margin: 0.1rem 0;
    }
    #about {
        margin: 5rem;
        text-align: center;
        padding-left: 15vw;
        padding-right: 15vw;
    }
    /* Main Buttons*/
    .button {
        margin-top: 30vh;
    }
    button>p {
        font-size: 16px;
    }
    button svg {
        height: 16px;
    }
    button:hover {
        background-color: black;
        color: white;
        opacity: 0.8;
        transition: 1s;
        fill: white;
    }
    /*Social link*/
    #instagram {
        width: 1.5rem;
        fill: white;
        display: initial;
        position: fixed;
        top: 50vh;
        right: 2rem;
    }
    #instagram:hover {
        width: 2rem;
    }
    #facebook {
        width: 1.5rem;
        fill: white;
        display: initial;
        position: fixed;
        top: 57vh;
        right: 2rem;
    }
    #facebook:hover {
        width: 2rem;
    }
}