* {
    box-sizing: border-box;
    font-size: 13px;
}
a{
    text-decoration: none;
}

html, body {
    min-width: 320px;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: grid;
    align-items: center;
    font-size: 13px;
    height: 4em;
    grid-template-columns: 1fr 3fr 1fr;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

header #logo {
    height: 2rem;
    width: auto;
    justify-self: center;
    grid-column: 2;
}

nav {
    display: none;
}

.phone .phoneIcon {
    height: 1em;
}

header .phone {
    justify-self: right;
    padding-right: 2rem;
}

header .phone>p {
    display: none;
}

main>div:first-child {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

main .container {
    display: grid;
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.ofer {
    position: absolute;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 2rem;
}

.ofer h1 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.ofer p {
    font-size: 15px;
}

.detal {
    background-image: url(../img/83102FB7-A62D-45E2-9BAA-4277259FA1D8.jpg);
}

.hurt {
    background-image: url(../img/AdobeStock_254529536.jpeg);
}

.button {
    justify-self: center;
    align-self: center;
}

button {
    padding: 1rem;
    width: 15rem;
}

button>p {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.6px;
    display: inline;
}

button>img {
    height: 1em;
    padding-right: 0.5rem;
}

#about {
    margin: 2rem;
    text-align: center;
}

#about h2 {
    padding-bottom: 2rem;
    font-size: 20px;
    font-weight: bold;
}

#about p {
    font-size: 15px;
}

footer {
    padding: 0 2rem;
    background-color: black;
}

footer>div {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

footer h3 {
    margin-top: 2rem;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

footer p {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    color: white;
    font-size: 12px;
    
}
#kontakt {
    grid-row: 4;
}

footer>div>div>div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

footer img:first-child {
    justify-self: right;
}
#instagram {
display: none;
}
#facebook {
    display: none;
}

@media only screen and (min-width: 768px) {
    header {
        height: 5em;
    }
    header #logo {
        padding-left: 2rem;
        grid-column: 1;
        justify-self: left;
    }
    nav {
        display: initial;
        justify-self: right;
    }
    nav li {
        display: inline;
        padding-right: 1em;
    }
    header .phone p {
        display: initial;
    }
    .phone .phoneIcon {
        height: 0.8em;
        padding-right: 0.5em;
    }
    main>div:first-child {
        grid-template-columns: 1fr 1fr;
    }
    .ofer {
        margin: -10rem 6rem 0 6rem;
    }
    
    .ofer h1 {
        font-size: 28px;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    
    .ofer p {
        font-size: 15px;
    }

    main a {
        margin-top: 20rem;
    }

    main .container {
        height: 48rem;
    }
    footer {
        padding: 2rem 2rem;
        background-color: black;
    }
    footer>div {
        grid-template-columns: repeat(2, 1fr) 3fr 2fr;
        column-gap: 3rem;
    }
    footer h3 {
        text-align: left;
        padding-bottom: 1rem;
        font-size: 15px;
    }
    footer p {
        text-align: initial;

        display: block;
        font-size: 13px;
        opacity: 0.8;
        padding-bottom: 1em;
    }
    footer>div>div>div:last-child {
        display: block;
    }
    footer img {
        margin-top: 0rem;
        opacity: 0.7;
    }
    footer img:hover {
        opacity: 1;

    }
    footer img:first-child {
        margin-right: 1rem;
    }
    footer a {
        color: inherit;
    }
    footer p:hover {
        opacity: 1;
    }
    #kontakt p{
        font-size: 12px;
    }
    #kontakt {
        margin-top: initial;
        grid-row: initial;
    }
    #instagram {
        display: initial;
        position: fixed;
        top: 20rem;
        right: 2rem;

    }
    #facebook {
        display: initial;

        position: fixed;
        top: 24rem;
        right: 2rem;
    }
}