section > p {
    text-align: justify;
}
header div{
    text-align: center;
} 
header div:first-child{
    text-align: left;
}
header div:last-child{
    text-align: right;
}
article {
    background-color: gray;
    margin: 0.5rem;
    padding-bottom: 1rem;
}
article button{
    width: 100%;
}
body div{
    background-color: silver;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}